#upper_menu {
  display: flex;
  background-color: #b5b3b9;
  color: #EEEEEE;
}

#cms {
  display: flex;
  padding-left: 1rem;
}

.right_menu_side {
  display: flex;
  gap: 2rem;
  align-items:center;
  margin-left: auto;
  margin-right: 1rem;
}

.notification:hover {
  cursor: pointer;
  color: #302c38;
}

.hidden {
  display: none !important;
}

.notifications {
  background-color: #EEEEEE;
  padding: 1rem;
  width: 10rem;
  margin: 1rem;
  min-height: 1rem;
  color:black;

  position: absolute;
  top: 3rem;
  right: 1rem;
}

#side_menu {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 30px;
}

.side_link {
  color:black;
}

#studTable, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  min-width: 78.5%;
}

#studTable th {
  padding: 20px 24px;
}

#studTable td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

.add_button {
  margin: 0.5rem;
  margin-left: 78.5%;
}

.modal_place {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  color: #747da6;
  background-color: #EEEEEE;
  padding: 1.5rem;
  gap: 2rem;
  width: 20rem;
  margin: 1rem;
  min-height: 13rem;
}

.modalButton {
  padding: 0.5rem 1rem;
  background-color: #8174a6;
  color: #EEEEEE;
}

.modalWarning {
  gap: 1rem;
  padding: 1rem;
  width: auto;
  height: auto;
  min-height: 0;
}
